<p hidden="True" id="user_id"><%= @user.id %></p>

<div class="row row--results">
	<div class="col-sm-3 results--field" style="background-color:#9A4D9F">
		<p><h4>Buy:</h4></p>
		<h1 class="result" id="js-buy__decision"></h1>
	</div>
	<div class="col-sm-3 results--field" style="background-color:#EA961A">
		<p><h4>Buy confidence:</h4></p>
		<h1 class="result" id="js-buy__confidence"></h1>
	</div>
	<div class="col-sm-3 results--field" style="background-color:#669B41">
		<p><h4>Sell:</h4></p>
		<h1 class="result" id="js-sell__decision"></h1>
	</div>
	<div class="col-sm-3 results--field" style="background-color:#4498D4">
		<p><h4>Sell confidence:</h4></p>
		<h1 class="result" id="js-sell__confidence"></h1>
	</div>
</div>

<div class="row">
	<div class="col-sm-9">
		<div class="row">
			<div class="chart">
				<!-- <img src="/images/chart.jpg"> -->
				<%= image_tag("chart.png", :alt => "rss feed") %>
			</div>
		</div>
		<div class="row">
			<div class="trades">
				<div class="trades--header">
					<p>Trades:</p>
				</div>
				<div class="trades--scrollable">
					<table class="table table-striped table-bordered table-hover table-condensed">
			 	        <thead>
          					<tr>
 					           	<th>Created</th>
 					           	<th>Status</th>
 					           	<th>Type</th>
            					<th>Amount</th>
            					<th>Price</th>
            					<th>Updated</th>
          					</tr>
        				</thead>
        				<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3 right__bar">
		<div class="row right--field" style="background-color:#978881">
			<h4>Balances:</h4>
			<% @user.wallets.each do |w| %>
				<div class="">
					<span class="right__field--currency"><%= w.currency.upcase %>:</span>
					<span id=<%="wallet_#{w.currency}" %> class="right__field--balance"> 
						<%= (w.balance * 1000).to_i.to_f / 1000 %>
					</span>
					<% if w.on_hold %>
						<p id=<%="wallet_hold_#{w.currency}" %> class="in_transaction"><%= "(in transaction: #{w.on_hold.to_i.to_f / 1000})" %></p>
					<% end %>
				</div>
			<% end %> 
		</div>
		<button id="toggleBeating" class="btn btn-success right--btn" style="font-size:25pt">Stop!</button>
		<div class="row log">
			<code>space for a ticking log...<br>
				of some extra parameters of<br>
				each ajax response...<br>
				Stay tuned!
			</code>
		</div>
	</div>
</div>


